<div class="row">
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6  col-lg-offset-3 well ">
		<button type="button" class="btn btn-large btn-block btn-default" data-ng-click="create()">Create Task!</button>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Title</th>
					<th>Description</th>
					<th>Done</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="task in taskList" data-ng-style="{'color': task.color}">
					<td>{{task.title}}</td>
					<td>{{task.desc}}</td>
					<td><div class="checkbox">
						
							<input type="checkbox" value="">
							
					</div></td>
					<td><button type="button" class="btn btn-danger" data-ng-click="deleteTask(task.id)"><i class="fa fa-times"></i></button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>